$wooden-red: #990000
$string-color: #808080

body
    font-family: Helvetica
    text-align: center
    color: $wooden-red

.string
    background-color: $string-color
    margin-top: 0.5em
    padding: 1px 100%
    border: none
    display: inline-block
    cursor: pointer
    length: 100%

li
    list-style-type: none