$background-color: #18212D
$wooden-red: #990000

html
    background: $background-color

body
    font-family: Helvetica
    text-align: center
    color: $wooden-red

.fretBoard
    margin-top: 15em
    
.string
    height: 5em
    width: 5em
    margin-left: 2em
    border-radius: 100%
    cursor: pointer
    color: rebeccapurple

li
    list-style-type: none
    display: inline-block
    
#6-E
    background-color: red
#5-A
    background-color: orange
#4-D
    background-color: yellow
#3-G
    background-color: green
#2-B
    background-color: blue
#1-E
    background-color: purple